### Import Packages

In [2]:
# filter warnings
import warnings
warnings.filterwarnings('ignore')

#import plots
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import string
import logging
import pandas as pd
import numpy as np
import re

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn import metrics


import nltk
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.tokenize import wordpunct_tokenize
from nltk.stem.porter import PorterStemmer
from nltk.stem import LancasterStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.util import ngrams


from collections import Counter
from nltk.probability import FreqDist

from sklearn.linear_model import LogisticRegressionCV,LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve, auc

In [3]:
import pprint
pp = pprint.PrettyPrinter(indent=4)
pp.pprint("test pretty print which will be helpful for json and list variable")

'test pretty print which will be helpful for json and list variable'

### Understanding the Data

In [4]:
data=pd.read_json('reviews_Office_Products_5.json',lines=True)
data.head()

,asin,helpful,overall,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,B00000JBLH,"[3, 4]",5,"I bought my first HP12C in about 1984 or so, a...","09 3, 2004",A32T2H8150OJLU,ARH,"A solid performer, and long time friend",1094169600
1,B00000JBLH,"[7, 9]",5,WHY THIS BELATED REVIEW? I feel very obliged t...,"12 15, 2007",A3MAFS04ZABRGO,"Let it Be ""Alan""","Price of GOLD is up, so don't bury the golden ...",1197676800
2,B00000JBLH,"[3, 3]",2,I have an HP 48GX that has been kicking for mo...,"01 1, 2011",A1F1A0QQP2XVH5,Mark B,"Good functionality, but not durable like old HPs",1293840000
3,B00000JBLH,"[7, 8]",5,I've started doing more finance stuff recently...,"04 19, 2006",A49R5DBXXQDE5,R. D Johnson,One of the last of an almost extinct species,1145404800
4,B00000JBLH,"[0, 0]",5,For simple calculations and discounted cash fl...,"08 4, 2013",A2XRMQA6PJ5ZJ8,Roger J. Buffington,Still the best,1375574400

In [5]:
data['overall'] = data['overall'].astype(object) # fix datatype error
dataset = {"reviewText": data["reviewText"], "overall": data["overall"]  }
dataset = pd.DataFrame(data = dataset)
dataset = dataset.dropna()
dataset.head()

                                          reviewText overall
0  I bought my first HP12C in about 1984 or so, a...       5
1  WHY THIS BELATED REVIEW? I feel very obliged t...       5
2  I have an HP 48GX that has been kicking for mo...       2
3  I've started doing more finance stuff recently...       5
4  For simple calculations and discounted cash fl...       5

In [6]:
dataset.dtypes

reviewText    object
overall       object
dtype: object

In [7]:
dataset['overall']=dataset['overall'].astype('int64')
dataset = dataset[dataset["overall"] != 3] # need datatype=object
dataset.shape

(48198, 2)

In [8]:
dataset["label"] = dataset["overall"].apply(lambda x : 1 if x > 3 else 0)
dataset[dataset["label"].isnull()]

Empty DataFrame
Columns: [reviewText, overall, label]
Index: []

In [9]:
dataset.head()

                                          reviewText  overall  label
0  I bought my first HP12C in about 1984 or so, a...        5      1
1  WHY THIS BELATED REVIEW? I feel very obliged t...        5      1
2  I have an HP 48GX that has been kicking for mo...        2      0
3  I've started doing more finance stuff recently...        5      1
4  For simple calculations and discounted cash fl...        5      1

In [10]:
dataset.label.value_counts()

1    45342
0     2856
Name: label, dtype: int64

In [11]:
dataset.overall.value_counts()

5    30327
4    15015
2     1726
1     1130
Name: overall, dtype: int64

In [12]:
stop_words=set(stopwords.words("english"))

dataset['reviewText']=dataset['reviewText'].str.lower()

dataset['sentence']=dataset['reviewText'].apply(lambda x: sent_tokenize(x))

dataset['tokens']=dataset['reviewText'].apply(lambda x: word_tokenize(x))

In [13]:
def get_clean_token_list(words):
    clean_words=[]
    for word in words:
        flag=True
        for letter in word:
            if letter.isdigit() or letter in string.punctuation:
                flag=False
        if flag:
            clean_words.append(word)
    return clean_words

print(get_clean_token_list(["hewy","ho!w","are","yo6u","?dd","111","qwerty"]))

def remove_stopwords(words):
    """
    pass series get series
    """
    filtered_sent=[]
    for word in words:
        if word not in stop_words:
            filtered_sent.append(word)
    return filtered_sent


print(remove_stopwords(["hey","how","are","you","?"]))

['hewy', 'are', 'qwerty']
['hey', '?']

In [14]:
dataset['tokens']=dataset['tokens'].apply(remove_stopwords)

dataset['tokens'].head()

0    [bought, first, hp12c, 1984, ,, served, faithf...
1    [belated, review, ?, feel, obliged, share, vie...
2    [hp, 48gx, kicking, twenty, years, hp, 11, 25,...
3    ['ve, started, finance, stuff, recently, went,...
4    [simple, calculations, discounted, cash, flows...
Name: tokens, dtype: object

In [15]:
dataset['tokens']=dataset['tokens'].apply(get_clean_token_list)

dataset['tokens'].head()

0    [bought, first, served, faithfully, lost, trav...
1    [belated, review, feel, obliged, share, views,...
2    [hp, kicking, twenty, years, hp, years, old, s...
3    [started, finance, stuff, recently, went, look...
4    [simple, calculations, discounted, cash, flows...
Name: tokens, dtype: object

In [16]:
stem = PorterStemmer()
wordnet_lemmatizer = WordNetLemmatizer()

def stem_sentence(sentence):
    stem_sentence=[]
    for word in sentence:
        stem_sentence.append(stem.stem(word))
    return stem_sentence

def lemmatize_sentence(sentence):
    lem_sentence=[]
    for word in sentence:
        lem_sentence.append(wordnet_lemmatizer.lemmatize(word, pos="v"))
    return lem_sentence

In [17]:
dataset.head()

,reviewText,overall,label,sentence,tokens
0,"i bought my first hp12c in about 1984 or so, a...",5,1,"[i bought my first hp12c in about 1984 or so, ...","[bought, first, served, faithfully, lost, trav..."
1,why this belated review? i feel very obliged t...,5,1,"[why this belated review?, i feel very obliged...","[belated, review, feel, obliged, share, views,..."
2,i have an hp 48gx that has been kicking for mo...,2,0,[i have an hp 48gx that has been kicking for m...,"[hp, kicking, twenty, years, hp, years, old, s..."
3,i've started doing more finance stuff recently...,5,1,[i've started doing more finance stuff recentl...,"[started, finance, stuff, recently, went, look..."
4,for simple calculations and discounted cash fl...,5,1,[for simple calculations and discounted cash f...,"[simple, calculations, discounted, cash, flows..."

In [18]:
dataset['stem_sentence']=dataset['tokens'].apply(lambda x: stem_sentence(x))

dataset[['tokens','stem_sentence']].head(10)

dataset['lemm_sentence']=dataset['tokens'].apply(lambda x: lemmatize_sentence(x))

dataset[['tokens','lemm_sentence']].head(10)

,tokens,lemm_sentence
0,"[bought, first, served, faithfully, lost, trav...","[buy, first, serve, faithfully, lose, travel, ..."
1,"[belated, review, feel, obliged, share, views,...","[belated, review, feel, oblige, share, view, o..."
2,"[hp, kicking, twenty, years, hp, years, old, s...","[hp, kick, twenty, years, hp, years, old, stil..."
3,"[started, finance, stuff, recently, went, look...","[start, finance, stuff, recently, go, look, go..."
4,"[simple, calculations, discounted, cash, flows...","[simple, calculations, discount, cash, flow, o..."
5,"[mba, hard, believe, calculator, learned, use,...","[mba, hard, believe, calculator, learn, use, u..."
6,"[hp, ever, since, first, available, roughly, t...","[hp, ever, since, first, available, roughly, t..."
7,"[bought, boss, lost, loves, calculator, would,...","[buy, boss, lose, love, calculator, would, cat..."
8,"[simple, calculator, handles, typical, math, l...","[simple, calculator, handle, typical, math, la..."
9,"[love, calculator, big, numbers, calculate, ex...","[love, calculator, big, number, calculate, exc..."

In [19]:
dataset.head()

,reviewText,overall,label,sentence,tokens,stem_sentence,lemm_sentence
0,"i bought my first hp12c in about 1984 or so, a...",5,1,"[i bought my first hp12c in about 1984 or so, ...","[bought, first, served, faithfully, lost, trav...","[bought, first, serv, faith, lost, travel, sea...","[buy, first, serve, faithfully, lose, travel, ..."
1,why this belated review? i feel very obliged t...,5,1,"[why this belated review?, i feel very obliged...","[belated, review, feel, obliged, share, views,...","[belat, review, feel, oblig, share, view, old,...","[belated, review, feel, oblige, share, view, o..."
2,i have an hp 48gx that has been kicking for mo...,2,0,[i have an hp 48gx that has been kicking for m...,"[hp, kicking, twenty, years, hp, years, old, s...","[hp, kick, twenti, year, hp, year, old, still,...","[hp, kick, twenty, years, hp, years, old, stil..."
3,i've started doing more finance stuff recently...,5,1,[i've started doing more finance stuff recentl...,"[started, finance, stuff, recently, went, look...","[start, financ, stuff, recent, went, look, goo...","[start, finance, stuff, recently, go, look, go..."
4,for simple calculations and discounted cash fl...,5,1,[for simple calculations and discounted cash f...,"[simple, calculations, discounted, cash, flows...","[simpl, calcul, discount, cash, flow, one, sti...","[simple, calculations, discount, cash, flow, o..."

In [20]:
reviews=[word for review in dataset['lemm_sentence'] for word in review]

fdist_reviews = FreqDist(reviews)

fdist_reviews.most_common(10)

[('use', 61375),
 ('print', 30238),
 ('printer', 29298),
 ('one', 27926),
 ('paper', 26963),
 ('like', 26040),
 ('work', 24809),
 ('get', 24176),
 ('make', 22934),
 ('label', 21503)]

In [21]:
positive_reviews=dataset[dataset['label']==1]['lemm_sentence']

positive_tokens=[word for review in positive_reviews for word in review]

fdist_positive_tokens = FreqDist(positive_tokens)

fdist_positive_tokens.most_common(10)

[('use', 58058),
 ('print', 28033),
 ('printer', 26633),
 ('one', 25759),
 ('paper', 25196),
 ('like', 24400),
 ('work', 22932),
 ('get', 21847),
 ('make', 21464),
 ('label', 20859)]

In [22]:
negative_reviews=dataset[dataset['label']==0]['lemm_sentence']

negative_reviews=[word for review in negative_reviews for word in review]

fdist_neagtive_tokens = FreqDist(negative_reviews)

fdist_neagtive_tokens.most_common(10)

[('use', 3317),
 ('printer', 2665),
 ('get', 2329),
 ('print', 2205),
 ('one', 2167),
 ('would', 1954),
 ('work', 1877),
 ('paper', 1767),
 ('ink', 1652),
 ('like', 1640)]

In [23]:
len(fdist_neagtive_tokens.most_common())

10454

In [24]:
len(fdist_positive_tokens.most_common())

32915

In [25]:
frequency_tokens={ x[0]:x[1] for x in fdist_positive_tokens.most_common()}

In [27]:
dataset['pos_tag']=dataset['tokens'].apply(lambda x: nltk.pos_tag(x))

dataset['pos_tag'].head()

0    [(bought, VBD), (first, RB), (served, VBN), (f...
1    [(belated, VBN), (review, NN), (feel, NN), (ob...
2    [(hp, NN), (kicking, VBG), (twenty, CD), (year...
3    [(started, VBN), (finance, NN), (stuff, NN), (...
4    [(simple, JJ), (calculations, NNS), (discounte...
Name: pos_tag, dtype: object

In [28]:
dataset.head()

,reviewText,overall,label,sentence,tokens,stem_sentence,lemm_sentence,pos_tag
0,"i bought my first hp12c in about 1984 or so, a...",5,1,"[i bought my first hp12c in about 1984 or so, ...","[bought, first, served, faithfully, lost, trav...","[bought, first, serv, faith, lost, travel, sea...","[buy, first, serve, faithfully, lose, travel, ...","[(bought, VBD), (first, RB), (served, VBN), (f..."
1,why this belated review? i feel very obliged t...,5,1,"[why this belated review?, i feel very obliged...","[belated, review, feel, obliged, share, views,...","[belat, review, feel, oblig, share, view, old,...","[belated, review, feel, oblige, share, view, o...","[(belated, VBN), (review, NN), (feel, NN), (ob..."
2,i have an hp 48gx that has been kicking for mo...,2,0,[i have an hp 48gx that has been kicking for m...,"[hp, kicking, twenty, years, hp, years, old, s...","[hp, kick, twenti, year, hp, year, old, still,...","[hp, kick, twenty, years, hp, years, old, stil...","[(hp, NN), (kicking, VBG), (twenty, CD), (year..."
3,i've started doing more finance stuff recently...,5,1,[i've started doing more finance stuff recentl...,"[started, finance, stuff, recently, went, look...","[start, financ, stuff, recent, went, look, goo...","[start, finance, stuff, recently, go, look, go...","[(started, VBN), (finance, NN), (stuff, NN), (..."
4,for simple calculations and discounted cash fl...,5,1,[for simple calculations and discounted cash f...,"[simple, calculations, discounted, cash, flows...","[simpl, calcul, discount, cash, flow, one, sti...","[simple, calculations, discount, cash, flow, o...","[(simple, JJ), (calculations, NNS), (discounte..."

In [31]:
# keep only adjective and adverb
keep_tags=["JJ","JJR","JJS","RB","RBR","RBS","UH","NN","NNS","NNP","NNPS"]

def filter_tag(pos_list):
    pos_clean_list=[]
    for t in pos_list:
        if t[1] in keep_tags:
            pos_clean_list.append(t[0])
    return pos_clean_list

filter_tag([('asked', 'RB'), ('review', 'NN'), ('scale', 'RBS')])

['asked', 'review', 'scale']

In [32]:
dataset['filter_pos_tag']=dataset['pos_tag'].apply(filter_tag)

dataset[['tokens','filter_pos_tag']].head(10)

,tokens,filter_pos_tag
0,"[bought, first, served, faithfully, lost, trav...","[first, faithfully, travelling, difficult, com..."
1,"[belated, review, feel, obliged, share, views,...","[review, feel, share, views, old, workhorse, g..."
2,"[hp, kicking, twenty, years, hp, years, old, s...","[hp, years, years, old, still, flawless, month..."
3,"[started, finance, stuff, recently, went, look...","[finance, stuff, recently, good, calculator, p..."
4,"[simple, calculations, discounted, cash, flows...","[simple, calculations, cash, flows, still, bes..."
5,"[mba, hard, believe, calculator, learned, use,...","[mba, hard, calculator, use, undergraduate, bu..."
6,"[hp, ever, since, first, available, roughly, t...","[hp, ever, first, available, roughly, years, a..."
7,"[bought, boss, lost, loves, calculator, would,...","[boss, loves, calculator, really, helps, day, ..."
8,"[simple, calculator, handles, typical, math, l...","[simple, calculator, handles, typical, math, l..."
9,"[love, calculator, big, numbers, calculate, ex...","[love, calculator, big, numbers, excellent, ea..."

In [33]:
dataset['clean_sentence']=dataset['filter_pos_tag'].apply(lambda x: ' '.join(x))

In [34]:
dataset.head()

,reviewText,overall,label,sentence,tokens,stem_sentence,lemm_sentence,pos_tag,filter_pos_tag,clean_sentence
0,"i bought my first hp12c in about 1984 or so, a...",5,1,"[i bought my first hp12c in about 1984 or so, ...","[bought, first, served, faithfully, lost, trav...","[bought, first, serv, faith, lost, travel, sea...","[buy, first, serve, faithfully, lose, travel, ...","[(bought, VBD), (first, RB), (served, VBN), (f...","[first, faithfully, travelling, difficult, com...",first faithfully travelling difficult come are...
1,why this belated review? i feel very obliged t...,5,1,"[why this belated review?, i feel very obliged...","[belated, review, feel, obliged, share, views,...","[belat, review, feel, oblig, share, view, old,...","[belated, review, feel, oblige, share, view, o...","[(belated, VBN), (review, NN), (feel, NN), (ob...","[review, feel, share, views, old, workhorse, g...",review feel share views old workhorse gold ann...
2,i have an hp 48gx that has been kicking for mo...,2,0,[i have an hp 48gx that has been kicking for m...,"[hp, kicking, twenty, years, hp, years, old, s...","[hp, kick, twenti, year, hp, year, old, still,...","[hp, kick, twenty, years, hp, years, old, stil...","[(hp, NN), (kicking, VBG), (twenty, CD), (year...","[hp, years, years, old, still, flawless, month...",hp years years old still flawless months numbe...
3,i've started doing more finance stuff recently...,5,1,[i've started doing more finance stuff recentl...,"[started, finance, stuff, recently, went, look...","[start, financ, stuff, recent, went, look, goo...","[start, finance, stuff, recently, go, look, go...","[(started, VBN), (finance, NN), (stuff, NN), (...","[finance, stuff, recently, good, calculator, p...",finance stuff recently good calculator pleasan...
4,for simple calculations and discounted cash fl...,5,1,[for simple calculations and discounted cash f...,"[simple, calculations, discounted, cash, flows...","[simpl, calcul, discount, cash, flow, one, sti...","[simple, calculations, discount, cash, flow, o...","[(simple, JJ), (calculations, NNS), (discounte...","[simple, calculations, cash, flows, still, bes...",simple calculations cash flows still best used...

In [35]:
vectorizer = CountVectorizer(token_pattern=r'\b\w+\b')
dataset_vector = vectorizer.fit_transform(dataset["clean_sentence"])

In [36]:
print(dataset_vector[0].shape)

(1, 35843)

In [37]:
print(dataset_vector.shape)

(48198, 35843)

In [38]:
dataset.shape

(48198, 10)

In [39]:
len(vectorizer.vocabulary_)

35843

In [40]:
vectorizer.vocabulary_

{'first': 11351,
 'faithfully': 10781,
 'travelling': 32470,
 'difficult': 8198,
 'come': 5686,
 'area': 1560,
 'buy': 3930,
 'hp': 14339,
 'mistake': 19042,
 'many': 18175,
 'people': 22259,
 'flagship': 11412,
 'line': 17367,
 'powerful': 23391,
 'extremely': 10660,
 'counterintuitive': 6691,
 'manual': 18141,
 'sketchy': 28313,
 'best': 2730,
 'hand': 13444,
 'way': 34696,
 'good': 12819,
 'sense': 27456,
 'solid': 28866,
 'reliable': 25558,
 'calculator': 4030,
 'basic': 2456,
 'statistics': 29653,
 'well': 34828,
 'business': 3869,
 'applications': 1441,
 'short': 27932,
 'ready': 25005,
 'move': 19446,
 'back': 2226,
 'old': 20821,
 'friend': 12061,
 'even': 10278,
 'batteries': 2498,
 'decade': 7499,
 'use': 33821,
 'home': 14145,
 'review': 26164,
 'feel': 11054,
 'share': 27700,
 'views': 34256,
 'workhorse': 35359,
 'gold': 12800,
 'anniversary': 1233,
 'year': 35628,
 'ower': 21475,
 'user': 33880,
 'fan': 10811,
 'especially': 10186,
 'frank': 11977,
 'successors': 30259,
 'platinum': 22904,
 'release': 25542,
 'platiunum': 22905,
 'edition': 9496,
 'majority': 18021,
 'owners': 21482,
 'fans': 10827,
 'nerd': 19943,
 'name': 19737,
 'synonymous': 30721,
 'highest': 13985,
 'quality': 24599,
 'range': 24862,
 'handheld': 13468,
 'electronic': 9635,
 'financial': 11246,
 'calculators': 4034,
 'generation': 12495,
 'personal': 22412,
 'computers': 5972,
 'desktops': 7946,
 'date': 7397,
 'december': 7508,
 'bearer': 2560,
 'standard': 29506,
 'none': 20215,
 'golden': 12803,
 'boy': 3442,
 'product': 24053,
 'probably': 23992,
 'longest': 17604,
 'ever': 10296,
 'almost': 922,
 'cps': 6784,
 'rpn': 26573,
 'proven': 24301,
 'day': 7417,
 'factor': 10733,
 'sofware': 28839,
 'unchanged': 33014,
 'rivals': 26366,
 'pc': 22054,
 'software': 28822,
 'versions': 34165,
 'truly': 32657,
 'indispensable': 15060,
 'portable': 23232,
 'heldheld': 13858,
 'computer': 5963,
 'students': 30082,
 'alike': 856,
 'handy': 13532,
 'companion': 5804,
 'powers': 23406,
 'immediately': 14710,
 'faster': 10888,
 'right': 26284,
 'serious': 27536,
 'ultimate': 32900,
 'time': 31919,
 'solution': 28880,
 'field': 11164,
 'users': 33884,
 'rival': 26365,
 'products': 24064,
 'moves': 19454,
 'always': 994,
 'mind': 18876,
 'production': 24059,
 'testimony': 31238,
 'listen': 17436,
 'models': 19144,
 'series': 27528,
 'somewhat': 28929,
 'disappointing': 8344,
 'observe': 20580,
 'least': 17032,
 'years': 35636,
 'major': 18020,
 'upgrades': 33709,
 'platinium': 22903,
 'futile': 12279,
 'attempt': 1949,
 'fix': 11384,
 'retire': 26081,
 'frustrating': 12141,
 'part': 21888,
 'effort': 9554,
 'siblings': 28057,
 'seriously': 27537,
 'however': 14334,
 'rights': 26295,
 'rightful': 26287,
 'place': 22820,
 'terms': 31211,
 'price': 23707,
 'rules': 26630,
 'rule': 26625,
 'still': 29801,
 'never': 20006,
 'ii': 14611,
 'thumb': 31813,
 'gospel': 12882,
 'team': 31028,
 'paramount': 21842,
 'iii': 14613,
 'customers': 7210,
 'iv': 16007,
 'outsource': 21309,
 'someone': 28910,
 'doubt': 8888,
 'ibm': 14516,
 'industry': 15092,
 'case': 4502,
 'vi': 34204,
 'discontinue': 8396,
 'iconic': 14538,
 'reminder': 25627,
 'customer': 7208,
 'please': 22942,
 'market': 18238,
 'force': 11781,
 'ardent': 1556,
 'scientific': 27076,
 'segment': 27377,
 'speculate': 29133,
 'brandname': 3490,
 'thinkpads': 31660,
 'rise': 26349,
 'indeed': 15007,
 'genuine': 12526,
 'model': 19132,
 'occasion': 20615,
 'intention': 15545,
 'silver': 28150,
 'nice': 20075,
 'retro': 26113,
 'look': 17624,
 'opportunity': 20993,
 'mark': 18218,
 'logo': 17576,
 'reckon': 25168,
 'milestone': 18838,
 'forward': 11907,
 'lucrative': 17791,
 'proposition': 24222,
 'run': 26641,
 'treat': 32503,
 'upmost': 33727,
 'respect': 25965,
 'flawless': 11479,
 'months': 19293,
 'number': 20461,
 'key': 16389,
 'already': 952,
 'trouble': 32621,
 'press': 23647,
 'hard': 13580,
 'register': 25432,
 'drops': 9105,
 'overall': 21339,
 'new': 20011,
 'cheaper': 4832,
 'plastic': 22876,
 'keys': 16415,
 'hollow': 14136,
 'light': 17269,
 'available': 2103,
 'functions': 12208,
 'great': 13061,
 'classic': 5191,
 'finance': 11244,
 'stuff': 30093,
 'recently': 25123,
 'pleasantly': 22941,
 'also': 955,
 'true': 32649,
 'last': 16869,
 'relic': 25565,
 'legacy': 17078,
 'china': 4968,
 'rear': 25049,
 'keyboard': 16391,
 'much': 19501,
 'dear': 7471,
 'hopefully': 14232,
 'recommend': 25193,
 'world': 35403,
 'purpose': 24493,
 'fairly': 10775,
 'straightforward': 29921,
 'math': 18350,
 'exercises': 10441,
 'quickly': 24704,
 'college': 5566,
 'student': 30081,
 'speed': 29139,
 'pictures': 22664,
 'option': 21023,
 'equations': 10079,
 'excel': 10368,
 'something': 28920,
 'desktop': 7945,
 'work': 35333,
 'nothing': 20355,
 'beats': 2578,
 'entry': 9985,
 'fit': 11371,
 'finish': 11300,
 'tactile': 30817,
 'feedback': 11038,
 'display': 8530,
 'data': 7386,
 'correctly': 6595,
 'quick': 24694,
 'accurate': 244,
 'answers': 1278,
 'fingertips': 11296,
 'waste': 34623,
 'money': 19237,
 'ti': 31849,
 'casio': 4521,
 'walmart': 34517,
 'calculations': 4029,
 'sure': 30478,
 'program': 24106,
 'directly': 8309,
 'immediate': 14709,
 'amortization': 1067,
 'depreciation': 7831,
 'npv': 20421,
 'complement': 5890,
 'mean': 18459,
 'deviation': 8051,
 'factorial': 10735,
 'etc': 10228,
 'complexity': 5904,
 'level': 17177,
 'science': 27072,
 'degree': 7674,
 'operate': 20972,
 'far': 10841,
 'capable': 4214,
 'brands': 3491,
 'reviews': 26177,
 'slow': 28511,
 'things': 31649,
 'irr': 15835,
 'computations': 5961,
 'computation': 5960,
 'spreadsheet': 29310,
 'exams': 10359,
 'better': 2750,
 'anyway': 1339,
 'fast': 10876,
 'enough': 9918,
 'power': 23385,
 'consumption': 6281,
 'battery': 2508,
 'replacement': 25751,
 'trust': 32663,
 'thrifty': 31772,
 'ways': 34702,
 'answer': 1273,
 'reach': 24956,
 'regular': 25451,
 'occurence': 20636,
 'problem': 23996,
 'hps': 14344,
 'capabilities': 4205,
 'useful': 33856,
 'personally': 22418,
 'used': 33835,
 'programming': 24114,
 'mode': 19128,
 'invariably': 15704,
 'easier': 9377,
 'pull': 24396,
 'write': 35500,
 'suspect': 30547,
 'crowd': 7023,
 'maybe': 18410,
 'whole': 35001,
 'premise': 23574,
 'feels': 11057,
 'tools': 32143,
 'nearby': 19839,
 'pleasant': 22939,
 'balance': 2323,
 'performance': 22319,
 'simplicity': 28185,
 'par': 21821,
 'earlier': 9340,
 'suppose': 30453,
 'durability': 9228,
 'certain': 4696,
 'age': 683,
 'cellphones': 4655,
 'dodo': 8740,
 'bird': 2876,
 'simple': 28176,
 'cash': 4512,
 'flows': 11598,
 'graduate': 12944,
 'cpa': 6776,
 'executive': 10429,
 'course': 6726,
 'complex': 5902,
 'flow': 11588,
 'really': 25028,
 'tool': 32133,
 'reverse': 26155,
 'polish': 23133,
 'notation': 20306,
 'easy': 9400,
 'intuitive': 15692,
 'brackets': 3458,
 'arithmetical': 1591,
 'expression': 10602,
 'hardware': 13605,
 'decades': 7500,
 'office': 20723,
 'purchasing': 24469,
 'rjb': 26373,
 'mba': 18420,
 'undergraduate': 33094,
 'courses': 6727,
 'professional': 24080,
 'know': 16556,
 'pinch': 22720,
 'graphic': 13009,
 'pros': 24230,
 'system': 30737,
 'learn': 17022,
 'similar': 28165,
 'machine': 17878,
 'input': 15340,
 'spit': 29230,
 'output': 21292,
 'negative': 19904,
 'numbers': 20474,
 'payments': 22042,
 'positive': 23280,
 'future': 12282,
 'value': 33998,
 'mine': 18885,
 'analysis': 1115,
 'later': 16889,
 'roughly': 26539,
 'ago': 716,
 'process': 24018,
 'original': 21145,
 'finally': 11242,
 'completely': 5896,
 'anything': 1336,
 'cashier': 4515,
 'essential': 10199,
 'function': 12199,
 'quite': 24748,
 'potential': 23342,
 'format': 11849,
 'mathematician': 18354,
 'jan': 16057,
 'symbolic': 30688,
 'logic': 17565,
 'different': 8178,
 'traditional': 32339,
 'method': 18688,
 'fact': 10731,
 'clumsy': 5411,
 'methods': 18691,
 'boss': 3347,
 'loves': 17724,
 'helps': 13888,
 'ceo': 4687,
 'company': 5807,
 'swears': 30605,
 'little': 17473,
 'handles': 13492,
 'typical': 32846,
 'large': 16834,
 'read': 24968,
 'comma': 5717,
 'help': 13874,
 'long': 17598,
 'strings': 30023,
 'buttons': 3915,
 'slightly': 28447,
 'nicely': 20082,
 'angles': 1201,
 'legible': 17091,
 'dim': 8242,
 'excellent': 10374,
 'choice': 5000,
 'small': 28538,
 'complaint': 5887,
 'clear': 5243,
 'memory': 18596,
 'today': 32043,
 'separate': 27487,
 'times': 31940,
 'love': 17711,
 'big': 2809,
 'life': 17243,
 'daily': 7313,
 'problems': 24001,
 'floor': 11561,
 'soft': 28802,
 'everyday': 10308,
 'need': 19876,
 'prints': 23921,
 'sized': 28278,
 'solar': 28848,
 'everything': 10314,
 'want': 34535,
 'figure': 11185,
 'tax': 31000,
 'rates': 24905,
 'mrc': 19479,
 'exactly': 10341,
 'bigger': 2812,
 'become': 2596,
 'actually': 348,
 'kind': 16463,
 'bottom': 3369,
 'stays': 29666,
 'table': 30763,
 'purchase': 24454,
 'texas': 31250,
 'instruments': 15487,
 'relatively': 25529,
 'unit': 33342,
 'sturdy': 30121,
 'addition': 404,
 'construction': 6250,
 'suffice': 30292,
 'calculate': 4023,
 'expect': 10494,
 'reliably': 25562,
 'subtract': 30237,
 'divide': 8662,
 'square': 29356,
 'root': 26497,
 'percentage': 22277,
 'change': 4756,
 'sign': 28106,
 'top': 32169,
 'rate': 24901,
 'compartment': 5829,
 'rest': 25990,
 'desk': 7922,
 'lamp': 16777,
 'bells': 2680,
 'whistles': 34967,
 'highly': 14008,
 'item': 15947,
 'second': 27294,
 'version': 34162,
 'grey': 13115,
 'black': 2923,
 'white': 34969,
 'mound': 19406,
 'housing': 14327,
 'keypad': 16410,
 'older': 20825,
 'blue': 3098,
 'smaller': 28541,
 'previously': 23700,
 'sadly': 26694,
 'newer': 20024,
 'manufacturer': 18162,
 'get': 12557,
 'disappointed': 8342,
 'intelligent': 15533,
 'give': 12643,
 'genuis': 12529,
 'fool': 11727,
 'online': 20894,
 'catalogue': 4547,
 'buyers': 3937,
 'packers': 21556,
 'pack': 21519,
 'perhaps': 22334,
 'larger': 16840,
 'bulkier': 3771,
 'backup': 2273,
 'single': 28218,
 'screw': 27175,
 'entire': 9968,
 'slight': 28445,
 'dangers': 7350,
 'dust': 9255,
 'delicate': 7705,
 'circuitry': 5112,
 'half': 13402,
 'minute': 18938,
 'neat': 19845,
 'oompartment': 20932,
 'important': 14784,
 'nearest': 19841,
 'repair': 25710,
 'shop': 27922,
 'obsolence': 20591,
 'close': 5351,
 'numberical': 20466,
 'instead': 15451,
 'esthetically': 10218,
 'clearer': 5247,
 'view': 34247,
 'l': 16626,
 'r': 24772,
 'g': 12298,
 'e': 9315,
 'numberic': 20465,
 'dearly': 7472,
 'instrument': 15484,
 'enjoyed': 9899,
 'together': 32061,
 'beautiful': 2582,
 'colour': 5649,
 'stay': 29663,
 'forever': 11816,
 'hour': 14295,
 'oh': 20792,
 'sigh': 28100,
 'handier': 13476,
 'points': 23100,
 'necessary': 19864,
 'wallet': 34504,
 'previous': 23698,
 'priceless': 23725,
 'chamber': 4747,
 'bad': 2283,
 'greatly': 13072,
 'return': 26120,
 'folks': 11696,
 'fingers': 11293,
 'hands': 13506,
 'several': 27611,
 'due': 9167,
 'popularity': 23212,
 'calculater': 4025,
 'soent': 28797,
 'ton': 32104,
 'space': 29028,
 'false': 10793,
 'calculation': 4028,
 'ones': 20879,
 'solart': 28851,
 'concerned': 6007,
 'failure': 10762,
 'desl': 7950,
 'window': 35105,
 'eye': 10668,
 'sight': 28101,
 'senior': 27447,
 'high': 13982,
 'school': 27045,
 'cheap': 4826,
 'fault': 10928,
 'defect': 7607,
 'plan': 22846,
 'class': 5188,
 'semester': 27423,
 'color': 5582,
 'road': 26382,
 'travel': 32464,
 'amazon': 1016,
 'totally': 32227,
 'supply': 30434,
 'store': 29882,
 'usually': 33932,
 'less': 17143,
 'expensive': 10519,
 'job': 16161,
 'powered': 23389,
 'cover': 6742,
 'slide': 28431,
 'cases': 4509,
 'snap': 28694,
 'screen': 27156,
 'outside': 21305,
 'able': 49,
 'attach': 1926,
 'car': 4268,
 'rim': 26310,
 'tire': 31992,
 'reasonable': 25057,
 'grade': 12929,
 'ohio': 20796,
 'originally': 21148,
 'advanced': 548,
 'chemistry': 4909,
 'university': 33362,
 'grab': 12910,
 'performs': 22329,
 'cumbersome': 7124,
 'calculus': 4036,
 'microbiology': 18753,
 'biochemistry': 2868,
 'worked': 35346,
 'dream': 9019,
 'beat': 2570,
 'instantly': 15450,
 'clearly': 5254,
 'thorough': 31721,
 'instructions': 15473,
 'higher': 13983,
 'algebra': 839,
 'trig': 32556,
 'bonus': 3232,
 'functionality': 12203,
 'box': 3412,
 'retailer': 26061,
 'despise': 7961,
 'apparently': 1402,
 'carry': 4396,
 'urgh': 33790,
 'prime': 23763,
 'membership': 18578,
 'shows': 27985,
 'lines': 17386,
 'entries': 9982,
 'point': 23079,
 'accounting': 226,
 'homework': 14177,
 'laptop': 16828,
 'numeric': 20483,
 'properly': 24206,
 'wonderful': 35286,
 'affordable': 646,
 'fuctional': 12160,
 'reset': 25892,
 'bulky': 3774,
 'classes': 5190,
 'sin': 28206,
 'cos': 6624,
 'tan': 30894,
 'feature': 11001,
 'ability': 45,
 'shift': 27846,
 'normal': 20267,
 'end': 9822,
 'enter': 9946,
 'sounds': 29004,
 'individual': 15066,
 'poorly': 23196,
 'stick': 29747,
 'extra': 10637,
 'careful': 4341,
 'fixed': 11389,
 'others': 21203,
 'pictured': 22661,
 'design': 7886,
 'floral': 11576,
 'geometric': 12536,
 'deal': 7457,
 'pick': 22626,
 'pink': 22732,
 'non': 20205,
 'bookstore': 3288,
 'charges': 4795,
 'stand': 29501,
 'fun': 12194,
 'dont': 8804,
 'cheat': 4847,
 'sheet': 27789,
 'durable': 9233,
 'free': 12003,
 'shipping': 27873,
 'save': 26869,
 'buck': 3704,
 'needs': 19891,
 'issues': 15917,
 'instructor': 15480,
 'graph': 13006,
 'lower': 17732,
 'calc': 4017,
 'bit': 2887,
 'lasting': 16873,
 'whatsoever': 34901,
 'thankfully': 31282,
 'daughter': 7407,
 'list': 17434,
 'middle': 18797,
 'main': 18002,
 'coffe': 5504,
 'spills': 29207,
 'tough': 32262,
 'gadget': 12301,
 'yes': 35668,
 'side': 28065,
 'overview': 21456,
 'competitors': 5875,
 'history': 14062,
 'commercially': 5746,
 'backspace': 2267,
 'edit': 9492,
 'features': 11008,
 'unusual': 33648,
 'characters': 4785,
 'backwards': 2276,
 'forwards': 11909,
 'results': 26043,
 'displays': 8537,
 'capability': 4207,
 'obviously': 20609,
 'similarly': 28170,
 'prevalence': 23685,
 'layout': 16950,
 'low': 17728,
 'packs': 21567,
 'narrow': 19770,
 'choices': 5002,
 'relevant': 25551,
 'lot': 17687,
 'budget': 3721,
 'therefore': 31513,
 'sufficient': 30295,
 'go': 12773,
 'stats': 29654,
 'event': 10287,
 'ubiquitous': 32865,
 'everyone': 10309,
 'complete': 5894,
 'garbage': 12371,
 'child': 4949,
 'toy': 32297,
 'piece': 22673,
 'land': 16788,
 'fill': 11215,
 'luggage': 17795,
 'everywhere': 10317,
 'geometry': 12537,
 'bill': 2828,
 'size': 28274,
 'instruction': 15470,
 'guide': 13272,
 'alot': 937,
 'packaging': 21537,
 'sister': 28246,
 'teacher': 31022,
 'successfully': 30254,
 'shape': 27687,
 'various': 34032,
 'require': 25839,
 'specific': 29111,
 'test': 31228,
 'specifications': 29115,
 'pressure': 23653,
 'broken': 3632,
 'yet': 35688,
 'meets': 18537,
 'bargain': 2414,
 'teenagers': 31085,
 'local': 17523,
 'community': 5781,
 'wife': 35051,
 'updated': 33694,
 'selection': 27399,
 'bought': 3380,
 'recommendations': 25196,
 'schools': 27061,
 'classrooms': 5207,
 'mandatory': 18087,
 'website': 34756,
 'furthermore': 12259,
 'wrong': 35516,
 'button': 3913,
 'often': 20777,
 'freeze': 12028,
 'bugs': 3741,
 'assure': 1829,
 'definitely': 7637,
 'pricey': 23742,
 'versatile': 34151,
 'mathematics': 18355,
 'academic': 124,
 'consider': 6192,
 'exists': 10468,
 'materials': 18344,
 'activities': 339,
 'corporate': 6581,
 'ba': 2212,
 'inputs': 15341,
 'memorize': 18593,
 'sequences': 27514,
 'likely': 17315,
 'dictate': 8146,
 'brand': 3486,
 'rather': 24906,
 'reviewer': 26168,
 'advice': 580,
 'remember': 25620,
 'alkaline': 861,
 'rechargeable': 25145,
 'idea': 14547,
 'spare': 29061,
 'briefcase': 3575,
 'backpack': 2252,
 'exam': 10352,
 'parents': 21861,
 'insult': 15499,
 'intelligence': 15532,
 'serve': 27546,
 'means': 18468,
 'sats': 26849,
 'ap': 1357,
 'tests': 31241,
 'grow': 13213,
 'intellectually': 15530,
 'theorems': 31472,
 'junk': 16294,
 'kiddies': 16438,
 'engineering': 9881,
 'menu': 18615,
 'interface': 15571,
 'units': 33351,
 'conversions': 6409,
 'theoretical': 31473,
 'pretty': 23679,
 'print': 23783,
 'mods': 19177,
 'variables': 34018,
 'intact': 15509,
 'saver': 26872,
 'info': 15153,
 'recommendation': 25195,
 'bother': 3356,
 'pay': 22033,
 'frosh': 12118,
 'sophomore': 28968,
 'absolute': 85,
 'start': 29609,
 'pistol': 22768,
 'african': 663,
 'safari': 26698,
 'handle': 13485,
 'meerkats': 18533,
 'creatures': 6907,
 'predators': 23507,
 'comparable': 5811,
 'magnum': 17976,
 'tackle': 30806,
 'hold': 14111,
 'beasts': 2569,
 'physics': 22612,
 'matter': 18374,
 'advantage': 553,
 'programs': 24116,
 'downside': 8929,
 'aaa': 1,
 'resolution': 25948,
 'standards': 29514,
 'greater': 13065,
 'hope': 14227,
 'subject': 30169,
 'perfect': 22296,
 'recomend': 25188,
 'condition': 6034,
 'beautifully': 2584,
 'memories': 18591,
 'career': 4338,
 'head': 13726,
 'devry': 8080,
 'keller': 16369,
 'management': 18072,
 'pursuit': 24507,
 'concentration': 6000,
 'telecommunications': 31106,
 'ole': 20835,
 'technology': 31060,
 'lots': 17693,
 'loads': 17508,
 'form': 11842,
 'dread': 9015,
 'mention': 18610,
 'hate': 13668,
 'spades': 29048,
 'cable': 3974,
 'cr': 6787,
 'lithium': 17462,
 'ideal': 14550,
 'mathematical': 18352,
 'punch': 24418,
 'certainly': 4697,
 'combines': 5675,
 'statistical': 29649,
 'trigonometric': 32561,
 'tvm': 32763,
 'surprisingly': 30521,
 'pound': 23367,
 'heavy': 13817,
 'scale': 26899,
 'lcd': 16969,
 'frankly': 11982,
 'graphs': 13020,
 'full': 12180,
 'exhibits': 10455,
 'values': 34001,
 'analyze': 1119,
 'optional': 21024,
 'link': 17399,
 'usb': 33810,
 'connect': 6135,
 'port': 23230,
 'transfer': 32384,
 'files': 11204,
 'thoughtsample': 31744,
 'digits': 8232,
 'face': 10708,
 'special': 29097,
 'ships': 27880,
 'worth': 35420,
 'flat': 11452,
 'conditions': 6039,
 'cards': 4318,
 'frequently': 12043,
 'birthday': 2883,
 'christmas': 5037,
 'holiday': 14131,
 'greetings': 13111,
 'arrived': 1638,
 'final': 11239,
 'proud': 24294,
 'saves': 26874,
 'gas': 12395,
 'nowadays': 20403,
 'paper': 21738,
 'letters': 17169,
 'snail': 28689,
 'mail': 17983,
 'stationery': 29646,
 'letter': 17163,
 'anyone': 1332,
 'thinking': 31657,
 'prefer': 23532,
 'matte': 18368,
 'glossy': 12729,
 'flimsier': 11525,
 'basically': 2457,
 'commercial': 5744,
 'card': 4289,
 'elements': 9649,
 ...}

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_selection import chi2

vectorizer = CountVectorizer(token_pattern=r'\b\w+\b')
dataset_vector = vectorizer.fit_transform(dataset["clean_sentence"])


chi2_selector = chi2(dataset_vector, dataset['label'])

list_tokens=[]
for key, val in vectorizer.vocabulary_.items():    # for name, age in dictionary.iteritems():  (for Python 2.x)
        if key in frequency_tokens:
            list_tokens.append([key,val,frequency_tokens[key],chi2_selector[0][val],chi2_selector[1][val]])

In [42]:
df=pd.DataFrame(list_tokens,columns=['token','index','frquency','chi2_negative','chi2_positive'])

In [43]:
df.head()

        token  index  frquency  chi2_negative  chi2_positive
0       first  11351      6174     238.234734   9.541533e-54
1  faithfully  10781        15       7.799426   5.226283e-03
2   difficult   8198      1298      68.327256   1.384934e-16
3        come   5686     12807       0.005522   9.407616e-01
4        area   1560      1403       0.028180   8.666872e-01

In [44]:
df.sort_values(by='chi2_negative',ascending=False).head(20)

              token  index  frquency  chi2_negative  chi2_positive
1623           poor  23193       290     602.066043  5.948665e-133
3313        useless  33868       229     534.457101  3.028935e-118
2319        support  30438      1915     506.555338  3.561881e-112
889         printer  23795     26633     498.788952  1.743695e-110
160        customer   7208       488     473.954165  4.418971e-105
1626         refund  25403        35     453.144200  1.492299e-100
1475          worst  35419        97     438.232651   2.624770e-97
5163      defective   7608        63     436.568423   6.043607e-97
6                hp  14339      4094     406.527533   2.089302e-90
1737       terrible  31213       118     396.769820   2.780425e-88
1103  unfortunately  33242       458     394.722746   7.757922e-88
890             ink  15240     15111     380.494248   9.713054e-85
2562          error  10158       406     370.727276   1.299702e-82
342            easy   9400     16222     361.873897   1.100402e-80
36             even  10278      9200     359.648023   3.359124e-80
1958        service  27553      1145     354.044150   5.578055e-79
1066     cartridges   4453      4879     351.856920   1.670214e-78
537             bad   2283      1363     333.062482   2.069112e-74
208           great  13061     18069     326.321182   6.082081e-73
775            junk  16294       263     322.891202   3.397376e-72

In [45]:
df.sort_values(by='chi2_positive',ascending=False).head(20)

              token  index  frquency  chi2_negative  chi2_positive
70       generation  12495       127   3.294806e-08       0.999855
1131          thank  31279       853   2.519429e-06       0.998734
216            last  16869      5419   4.529752e-06       0.998302
11523      scansnap  26976       257   4.932564e-06       0.998228
1754   considerably   6194       143   5.532551e-06       0.998123
4743       painless  21642       113   9.350670e-06       0.997560
1571           mice  18736       113   9.350670e-06       0.997560
2859         border   3319       301   2.137798e-05       0.996311
2749        sharpie  27740       951   3.319531e-05       0.995403
3132           hide  13970       352   4.096773e-05       0.994893
6956         fiddly  11155        16   5.692443e-05       0.993980
5888     embroidery   9728        17   5.692443e-05       0.993980
12550       energel   9856        17   5.692443e-05       0.993980
4168         mallet  18059        16   5.692443e-05       0.993980
9917           foul  11919        21   5.692443e-05       0.993980
5385      undamaged  33067        20   5.692443e-05       0.993980
6727            tub  32694        20   5.692443e-05       0.993980
9816      designate   7887        80   5.692443e-05       0.993980
12700        spongy  29272        17   5.692443e-05       0.993980
5095        outlast  21271        39   5.692443e-05       0.993980

In [68]:
s='.'.join(list(dataset['clean_sentence']))

s = s.lower()
s = re.sub(r'[^a-zA-Z0-9\s]', ' ', s)
tokens = [token for token in s.split(" ") if token != ""]

# 2grams
bgs = nltk.bigrams(tokens)

#compute frequency distribution for all the bigrams in the text
bigram_fdist = nltk.FreqDist(bgs)
tmp_bigram_frequency_tokens={ x[0]:x[1] for x in bigram_fdist.most_common()}
# pp.pprint(bigram_frequency_tokens)

#3grams
bgs = nltk.trigrams(tokens)

#compute frequency distribution for all the trigrams in the text
trigram_fdist = nltk.FreqDist(bgs)
tmp_trigram_frequency_tokens={ x[0]:x[1] for x in trigram_fdist.most_common()}
# pp.pprint(trigram_frequency_tokens)

In [71]:
bigram_frequency_tokens={}
for key , value in tmp_bigram_frequency_tokens.items():
    bigram_frequency_tokens[key[0]+" "+key[1]]=value

trigram_frequency_tokens={}
for key , value in tmp_trigram_frequency_tokens.items():
    trigram_frequency_tokens[key[0]+" "+key[1]+" "+key[2]]=value

In [74]:
vectorizer = CountVectorizer(token_pattern=r'\b\w+\b', ngram_range=(2, 2))
dataset_vector = vectorizer.fit_transform(dataset["clean_sentence"])


chi2_selector = chi2(dataset_vector, dataset['label'])

list_tokens=[]
for key, val in vectorizer.vocabulary_.items():
        if key in bigram_frequency_tokens:
            list_tokens.append([key,val,bigram_frequency_tokens[key],chi2_selector[0][val],chi2_selector[1][val]])

In [80]:
bigram_df=pd.DataFrame(list_tokens,columns=['token','index','frquency','chi2_negative','chi2_positive'])

In [81]:
bigram_df.sort_values(by='chi2_negative',ascending=False).head(20)

                        token    index  frquency  chi2_negative  chi2_positive
445               waste money   988038        80     459.335190  6.707576e-102
121021           tech support   906468       179     441.767763   4.463900e-98
55976                file box   313119       123     405.233990   3.995574e-90
35557        customer service   197756       282     246.823055   1.279557e-55
89192              piece junk   653318        35     246.406474   1.577187e-55
1231                buy store   108754        18     222.251159   2.919843e-50
198282  refillable cartridges   740584        20     196.863836   1.009810e-44
6924                 best buy    70958        81     176.125224   3.400095e-40
450410           free postage   339931        15     175.420298   4.846464e-40
33291            poor quality   667768        73     161.985070   4.168220e-37
176364          worst printer  1016414        13     144.404158   2.898869e-33
122915          genuine epson   352884        40     139.390384   3.618468e-32
212461         head cleanings   384453        14     132.540642   1.139498e-30
853907              shot note   806821        17     127.513292   1.434370e-29
762800      pixel granularity   655751         8     127.008403   1.849886e-29
888525            cents laser   130305         8     127.008403   1.849886e-29
353734              eeee eeee   257527         8     127.008403   1.849886e-29
165785          error message   274542        93     125.322690   4.325636e-29
46575     really disappointed   731006        20     125.206947   4.585439e-29
178876            full refund   344695        18     119.134379   9.786961e-28

Just to update: 
This clearly tells us the Negative reviews bigrams tokens which have decent frequency and large chi-square results.
*waste money*
*tech support*
*customer service*
*piece junk*
*poor quality*
*really disappointed*
*full refund*
*error message*

Following are the bigram product which negative review revolve around. 
*worst printer*
*refillable cartridges*
*head cleanings*
*pixel granularity*
*cents laser*

Yesterday night finished 30 plus positive negative review comments. Bigrams trigram and single tokens features are ready.

In [82]:
bigram_df.sort_values(by='chi2_positive',ascending=False).head(20)

                    token   index  frquency  chi2_negative  chi2_positive
2849           well paper  997723       137   3.294806e-08       0.999855
21426       quality photo  717753       135   3.294806e-08       0.999855
20764         able easily     984       101   4.096773e-05       0.994893
65417          paper mate  620091       186   4.473247e-05       0.994664
6919          blank label   83710        17   5.692443e-05       0.993980
101159  product certainly  700902        17   5.692443e-05       0.993980
12078        website easy  992749        17   5.692443e-05       0.993980
430264           usb slot  965695        17   5.692443e-05       0.993980
40875          label much  456066        18   5.692443e-05       0.993980
32680        even machine  278747        17   5.692443e-05       0.993980
4890          husband use  407662        17   5.692443e-05       0.993980
47444     sturdy reliable  880896        17   5.692443e-05       0.993980
33958   great convenience  366066        17   5.692443e-05       0.993980
95366          also white   26394        17   5.692443e-05       0.993980
65213          even thick  279840        17   5.692443e-05       0.993980
44178        machine fine  505989        17   5.692443e-05       0.993980
359000         note write  574872        17   5.692443e-05       0.993980
71319         always hard   27656        17   5.692443e-05       0.993980
94076      colors regular  157998        17   5.692443e-05       0.993980
47651   expensive product  289961        17   5.692443e-05       0.993980

In [84]:
vectorizer = CountVectorizer(token_pattern=r'\b\w+\b', ngram_range=(3, 3))
dataset_vector = vectorizer.fit_transform(dataset["clean_sentence"])


chi2_selector = chi2(dataset_vector, dataset['label'])

list_tokens=[]
for key, val in vectorizer.vocabulary_.items():
        if key in trigram_frequency_tokens:
            list_tokens.append([key,val,trigram_frequency_tokens[key],chi2_selector[0][val],chi2_selector[1][val]])

In [85]:
trigram_df=pd.DataFrame(list_tokens,columns=['token','index','frquency','chi2_negative','chi2_positive'])

In [86]:
trigram_df.sort_values(by='chi2_negative',ascending=False).head(20)

,token,index,frquency,chi2_negative,chi2_positive
470847,best buy store,130038,14,222.264706,2.900045e-50
1344962,sheets full color,1607384,11,174.636555,7.187441e-40
1344963,color pages black,297157,12,158.255424,2.721635e-36
227814,pages black pages,1199675,15,122.267327,2.017390e-28
1287444,full color pages,654850,15,122.267327,2.017390e-28
244535,worst printer ever,2037452,11,113.655640,1.550228e-26
278480,printer time ink,1385829,8,95.498682,1.479898e-22
278494,great lengths sure,704137,6,95.256303,1.672648e-22
1345031,epson inks part,510835,6,95.256303,1.672648e-22
1345038,start last color,1720973,6,95.256303,1.672648e-22
1345037,cartridge start last,241089,6,95.256303,1.672648e-22
1345036,box cartridge start,183568,6,95.256303,1.672648e-22
1344246,best buy oakland,130025,6,95.256303,1.672648e-22
1345032,inks part numbers,821271,6,95.256303,1.672648e-22
1345039,last color ink,902826,6,95.256303,1.672648e-22
1345030,genuine epson inks,668620,7,79.942972,3.853735e-19
19202,consumer service center,334736,7,79.942972,3.853735e-19
442503,full list price,655391,7,79.942972,3.853735e-19
1344250,target p lines,1809282,5,79.380252,5.123568e-19
15515,obvious lack function,1137583,5,79.380252,5.123568e-19

In [87]:
trigram_df.sort_values(by='chi2_positive',ascending=False).head(20)

,token,index,frquency,chi2_negative,chi2_positive
5492,mouse pad great,1059875,17,0.000057,0.993980
37171,great label maker,703859,17,0.000057,0.993980
267292,pages minute black,1201878,17,0.000057,0.993980
15222,laser inkjet printer,900751,17,0.000057,0.993980
165374,review helpful please,1522109,17,0.000057,0.993980
68186,heavy duty plastic,745067,17,0.000057,0.993980
222128,print directly memory,1359813,17,0.000057,0.993980
542412,regular paper photo,1500595,17,0.000057,0.993980
137853,worth extra cost,2037853,17,0.000057,0.993980
673140,inch x inch,800868,17,0.000057,0.993980
557679,quartet magnetic board,1451719,17,0.000057,0.993980
406429,difference print quality,410923,17,0.000057,0.993980
491153,hp photosmart premium,781532,17,0.000057,0.993980
140769,nice heavy duty,1106795,17,0.000057,0.993980
334730,really like fact,1479028,17,0.000057,0.993980
221632,black white prints,162235,34,0.000114,0.991487
44047,much less expensive,1068289,34,0.000114,0.991487
93125,long periods time,959604,50,0.000497,0.982213
428658,connect usb cable,329912,33,0.001080,0.973787
48151,inkjet laser printers,819547,33,0.001080,0.973787